main {
    min-height: 80vh;
}

.rating span{
    margin: 0.1rem;
}

.h3, h3 {
    font-size: calc(0.4rem + .81vw)!important; 
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500!important;
    line-height: 1!important;
}